.nav-info {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.nav-info__left {
    display: flex;
    flex-direction: column;
    text-align: right;
}

.nav-info__left .role {
    font-size: 12px;
}

.arrow {
    border: solid black;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 3px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}


@media (min-width: 1200px) {
    .container {
        max-width: 90vw !important;
    }
}


.container {
    margin-top: 50px;
}


.header-right {
    display: flex;
    flex-direction: row;
}

.header-right .badge {
    margin-right: 20px;
}

.header-right .badge img {
    width: 50px;
    cursor: pointer;
}

.header-right .badge span {
    background: red;
    color: white;
    padding: 5px;
    border-radius: 50%;
    margin-left: -15px;
}


.header-right .notification {
    position: absolute;
    display: none;
    top: 70px;
    right: 300px;
    z-index: 10;
}
